# Set @lazaroagomez as the default owner for everything
* @lazaroagomez

# Dependency files
package*.json @lazaroagomez
Dockerfile @lazaroagomez
docker-compose.yml @lazaroagomez
.github/ @lazaroagomez
